{% extends 'layout.html' %}

{% block content %}

    <h1>Importancia del Ingles en la programacion</h1>

    <p>
    Solemos decir que el inglés es el idioma del mundo, pero los que mejor lo
    saben son los ingenieros y programadores. El mundo de los desarrolladores es
    un mundo en inglés, donde no saber el idioma es como ser analfabeta. Las webs,
    programas y aplicaciones se realizan gracias al ingenio de expertos de todo el
    planeta que dominan diferentes lenguajes de programación. Se han creado
    idiomas propios que solo saben desencriptar los ordenadores y los propios
    informáticos, sin embargo el inglés es como la lengua base de la construcción
    de estos lenguajes lógico-matemáticos que ellos utilizan
    </p>
{% endblock  %}
